.hero {
    background-image: url('../img/banner-ppal.jpg');
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.features h3 {
    color: #007bff;
}

.cta {
    background-color: #f8f9fa;
}


.hover-effect {
    transition: all 0.3s ease;
}

.hover-effect:hover {
    transform: translateX(5px);
    color: #007bff;
}

.card-img-top {
    height: 200px; /* Ajusta esto según tus necesidades */
    object-fit: cover;
}
.icon-img {
    width: 30px;
    height: auto;
}

.card-footer {
    padding-top: 0;
}

/* Estilos generales para las cards */
.card {
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

/* Acento de color en la parte superior de las cards */
.card-accent {
    height: 4px;
    width: 100%;
}

/* Estilos para los bordes y acentos de color */
.border-green {
    border-color: #28a745;
}

.border-yellow {
    border-color: #ffc107;
}

.border-blue {
    border-color: #007bff;
}

.border-red {
    border-color: #dc3545;
}

.bg-green {
    background-color: #28a745;
}

.bg-yellow {
    background-color: #ffc107;
}

.bg-blue {
    background-color: #007bff;
}

.bg-red {
    background-color: #dc3545;
}


.brand-logos {
    background-color: #f8f9fa;
}

.brand-logos img {
    max-height: 80px; /* Aumentado de 50px a 80px */
    width: auto;
    transition: filter 0.3s ease-in-out;
    object-fit: contain; /* Asegura que la imagen se ajuste manteniendo su proporción */
}

.grayscale {
    filter: grayscale(100%) opacity(0.6);
}

.grayscale:hover {
    filter: grayscale(0%) opacity(1);
}

.prefooter {
    background-color: #f8f9fa;
}

.prefooter h2 {
    font-size: 2rem;
    color: #333;
    font-weight: 600;
}

.prefooter ul li {
    font-size: 1.1rem;
    color: #555;
    transition: transform 0.2s ease-in-out;
}

.prefooter ul li:hover {
    transform: translateX(5px);
}

.prefooter i {
    font-size: 1.2rem;
}

.prefooter img {
    transition: transform 0.3s ease-in-out;
}

.prefooter img:hover {
    transform: scale(1.05);
}


.hover-zoom {
    transition: transform 0.3s ease;
}

.hover-zoom:hover {
    transform: scale(1.05);
}

.our-products .card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
}

.our-products .card-img-top {
    height: 250px;
    object-fit: cover;
}

.our-products .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: all 0.3s ease;
}

.our-products .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.accordion-button:not(.collapsed) {
    background-color: #e7f1ff;
    color: #0c63e4;
  }
  
  .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  
  .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  